@import "tailwindcss";

:root {
  /* Neutres */
  --background: #F3F4F6;
  --foreground: #111827;

  /* Couleurs principales */
  --color-primary: #2667ad;   /* Bleu profond */
  --color-secondary: #FACC15; /* Jaune solaire */
  --color-accent: #14B8A6;    /* Vert turquoise */
}
/* postcss-ignore */
@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-accent: var(--color-accent);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111827; /* gris foncé */
    --foreground: #F3F4F6; /* gris clair */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
